div.ans-overview {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

div.ans-overview-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

div.ans-overview-row p {
  font-size: 12px;
  font-weight: 700;
  max-width: 400px;
}

div.qualification {
  display: flex;
  gap: 8px;
  align-items: center;
}

div.qualification p {
  display: flex;
  align-items: center;
}

svg.edit-button:hover {
  cursor: pointer;
  color: var(--default-hover);
}
