div.card-container {
  display: flex;
  flex-direction: column;
  gap: 22px;
  background-color: var(--container-color);
  padding: 20px;
  width: 600px;
  max-width: 100%;
  border-radius: 12px;
}

div.card {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  padding: 20px;
  border-radius: 12px;
  align-items: center;
}

div.card-info {
  display: flex;
  flex-direction: column;
}

div.card-info h3,
p {
  margin: 0;
}

p.card-subtitle {
  font-size: 12px;
  margin-bottom: 10px;
}

button.card-button {
  width: 120px;
  height: fit-content;
}
